<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITrainingService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4374/TrainingService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITrainingService"
                contract="TrainingServiceReference.ITrainingService" name="WSDualHttpBinding_ITrainingService">
                <identity>
                    <userPrincipalName value="DESKTOP-PSFRFOQ\T1007" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>